# Data Preprocessing

The goal of this lab is to introduce you to data preprocessing techniques in order to make your data suitable for applying a learning algorithm.

## 1. Handling Missing Values

A common (and very unfortunate) data property is the ocurrence of missing and erroneous values in multiple features in datasets. For this exercise we will be using a data set about abalone snails.
The data set is contained in the Zip file you downloaded from Moodle.

To determine the age of a abalone snail you have to kill the snail and count the annual
rings. You are told to estimate the age of a snail on the basis of the following attributes:
1. type: male (0), female (1) and infant (2)
2. length in mm
3. width in mm
4. height in mm
5. total weight in grams
6. weight of the meat in grams
7. drained weight in grams
8. weight of the shell in grams
9. number of annual rings (number of rings +1, 5 yields age)

However, the data is incomplete. Missing values are marked with −1.

In [1]:
import pandas as pd
# load data 
df = pd.read_csv("http://www.cs.uni-potsdam.de/ml/teaching/ss15/ida/uebung02/abalone.csv")
df.columns=['type','length','width','height','total_weight','meat_weight','drained_weight','shell_weight','num_rings']
df.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
0,0,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,-1
1,1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,0,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,2,-1.000,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,2,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

In [2]:
df.describe()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings
count,4176.000000,4176.000000,4176.000000,4176.000000,4176.000000,4176.000000,4176.000000,4176.000000,4176.000000
mean,0.912835,0.478448,0.366148,0.105771,0.782421,0.318576,0.149442,0.208351,9.662835
std,0.865337,0.284509,0.258258,0.197779,0.562543,0.318948,0.216931,0.235478,3.595982
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,0.000000,0.440000,0.340000,0.110000,0.411875,0.170000,0.086500,0.120000,8.000000
50%,1.000000,0.535000,0.420000,0.140000,0.782000,0.327000,0.166000,0.225000,9.000000
75%,2.000000,0.610000,0.480000,0.165000,1.140500,0.496625,0.249125,0.324500,11.000000
max,2.000000,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176 entries, 0 to 4175
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   type            4176 non-null   int64
 1   length          4176 non-null   float64
 2   width           4176 non-null   float64
 3   height          4176 non-null   float64
 4   total_weight    4176 non-null   float64
 5   meat_weight     4176 non-null   float64
 6   drained_weight  4176 non-null   float64
 7   shell_weight    4176 non-null   float64
 8   num_rings       4176 non-null   int64
dtypes: float64(7), int64(2)
memory usage: 293.8 KB

### Exercise 1.1

Compute the mean of of each numeric column and the counts of each categorical column, excluding the missing values.

In [4]:
for col in df.columns:
    if col != "type" and col != "num_rings" :
        print(df[df[col] != -1][col].mean())
    else:
        print(df[df[col] != -1][col].count())

4089
0.5236920039486673
0.40795533070088846
0.1396100691016782
0.8288428746928747
0.35926265119723527
0.18024858618146053
0.23860444280805104
4077

### Exercise 1.2

Compute the median of each numeric column,  excluding the missing values.

In [25]:
for col in df.columns:
    print(df[df[col] != -1][col].median())

1.0
0.545
0.425
0.14
0.80175
0.336
0.1705
0.2335
9.0

### Exercise 1.3

Handle the missing values in a way that you find suitable. Argue your choices.

In [6]:
 # in categorical columns we replace -1 values with most occurring value which we can find by mode function
for col in df.columns:
    if col != "type" and col != "num_rings" :
        df.loc[df[col] == -1 , col] = df[col].mean()
    else:
        df.loc[df[col] == -1 , col] = df[col].mode()[0]

### Exercise 1.4

Perform Z-score normalization on every column (except the type of course!)

In [7]:
for col in df.columns:
    if col != "type":
        new_col = col + "_zscore"
        df[new_col] = (df[col] - df[col].mean())/df[col].std()
df.head()

,type,length,width,height,total_weight,meat_weight,drained_weight,shell_weight,num_rings,length_zscore,width_zscore,height_zscore,total_weight_zscore,meat_weight_zscore,drained_weight_zscore,shell_weight_zscore,num_rings_zscore
0,0,0.350000,0.265,0.090,0.2255,0.0995,0.0485,0.070,9,-1.451542,-1.444911,-1.171231,-1.245501,-1.178682,-1.212413,-1.220840,-0.281919
1,1,0.530000,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0.064441,0.135464,-0.086875,-0.311630,-0.462933,-0.351328,-0.202658,-0.281919
2,0,0.440000,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,-0.693550,-0.425314,-0.327843,-0.644639,-0.649849,-0.605950,-0.602658,0.031358
3,2,0.478448,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,-0.369734,-1.546871,-1.412198,-1.287903,-1.224271,-1.295744,-1.329931,-0.908474
4,2,0.425000,0.300,0.095,0.3515,0.1410,0.0775,0.120,8,-0.819882,-1.088052,-1.050747,-0.984886,-0.989487,-0.943903,-0.857204,-0.595197

## 2. Preprocessing text (Optional)

One possible way to transform text documents into vectors of numeric attributes is to use the TF-IDF representation. We will experiment with this representation using the 20 Newsgroup data set. The data set contains postings on 20 different topics. The classification problem is to decide which of the topics a posting falls into. Here, we will only consider postings about medicine and space.

In [8]:
from sklearn.datasets import fetch_20newsgroups


categories = ['sci.med', 'sci.space']
raw_data = fetch_20newsgroups(subset='train', categories=categories, shuffle=True, random_state=42)
print(f'The index of each category is: {[(i,target) for i,target in enumerate(raw_data.target_names)]}')

The index of each category is: [(0, 'sci.med'), (1, 'sci.space')]

Check out some of the postings, might find some funny ones!

In [9]:
import numpy as np
idx = np.random.randint(0, len(raw_data.data))
print (f'This is a {raw_data.target_names[raw_data.target[idx]]} email.\n')
print (f'There are {len(raw_data.data)} emails.\n')
print(raw_data.data[idx])

This is a sci.space email.

There are 1187 emails.

From: Bruce_Dunn@mindlink.bc.ca (Bruce Dunn)
Subject: Re: Clementine mission name
Organization: MIND LINK! - British Columbia, Canada
Lines: 22

> Wales.Larrison@ofa123.fidonet.org writes:
>
> Old pioneer song from the 1850's or so goes as follows:
>
>   "In a cavern, in a canyon,
>    Excavating for a mine,
>    Dwelt a miner, forty-niner,
>    And his daughter, CLEMENTINE"
>
> Chorus:
>   "Oh my darling, Oh my darling,
>    Oh my darling Clementine.
>    You are lost and gone forever,
>    Oh my darling Clementine."


        Let us hope that the performance of the spacecraft follows the
sentiments of the first verse (miner) rather than the second (lost and gone
forever).

--
Bruce Dunn    Vancouver, Canada   Bruce_Dunn@mindlink.bc.ca

Lets pick the first 10 postings from each category

In [10]:
idxs_med = np.flatnonzero(raw_data.target == 0)
idxs_space = np.flatnonzero(raw_data.target == 1)
idxs = np.concatenate([idxs_med[:10],idxs_space[:10]])
data = np.array(raw_data.data)
data = data[idxs]

<a href="http://www.nltk.org/">NLTK</a> is a toolkit for natural language processing. Take some time to install it and go through this <a href="http://www.slideshare.net/japerk/nltk-in-20-minutes">short tutorial/presentation</a>.

The downloaded package below is a tokenizer that divides a text into a list of sentences, by using an unsupervised algorithm to build a model for abbreviation words, collocations, and words that start sentences.

In [11]:
import nltk
import itertools
nltk.download('punkt')

# Tokenize the sentences into words
tokenized_sentences = [nltk.word_tokenize(sent) for sent in data]
vocabulary_size = 1000
unknown_token = 'unknown'

[nltk_data] Downloading package punkt to /home/vishal/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [12]:
# Count the word frequencies
word_freq = nltk.FreqDist(itertools.chain(*tokenized_sentences))
print (f"Found {len(word_freq.items())} unique words tokens.")

Found 1636 unique words tokens.

In [13]:
# Get the most common words and build index_to_word and word_to_index vectors
vocab = word_freq.most_common(vocabulary_size-1)
index_to_word = [x[0] for x in vocab]
index_to_word.append(unknown_token)
word_to_index = dict([(w,i) for i,w in enumerate(index_to_word)])
 
print (f"Using vocabulary size {vocabulary_size}." )
print (f"The least frequent word in our vocabulary is '{vocab[-1][0]}' and appeared {vocab[-1][1]} times.")

Using vocabulary size 1000.
The least frequent word in our vocabulary is 'AN' and appeared 1 times.

### Exercise 2.1

Code your own TF-IDF representation function and use it on this dataset. (Don't use code from libraries. Build your own function with Numpy/Pandas). Use the formular TFIDF = TF * (IDF+1). The effect of adding “1” to the idf in the equation above is that terms with zero idf, i.e., terms that occur in all documents in a training set, will not be entirely ignored. The term frequency is the raw count of a term in a document. The inverse document frequency is the natural logarithm of the inverse fraction of the documents that contain the word.

In [27]:
from sklearn.feature_extraction.text import CountVectorizer
countvec = CountVectorizer()
df = pd.DataFrame(countvec.fit_transform(data).toarray(), columns=countvec.get_feature_names())

def tfidf(df):
    tfs =  get_tf(df)
    idfs = get_idf(df)
    tfs *= idfs
    return tfs

    
    
    
rep = tfidf(df)

# Check if your implementation is correct
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(norm=None, smooth_idf=False, use_idf=True)
X_train = pd.DataFrame(vectorizer.fit_transform(data).toarray(), columns=countvec.get_feature_names())
answer=['No','Yes']
epsilon = 0.0001
if rep is not None:
    print (f'Is this implementation correct?\nAnswer: {answer[1*np.all((X_train - rep) < epsilon)]}')

warning: PYDEVD_USE_CYTHON environment variable is set to 'NO'. Frame evaluator will be also disabled because it requires Cython extensions to be enabled in order to operate correctly.

Is this implementation correct?
Answer: No

In [20]:
def get_tf(df):
    tfs = pd.DataFrame()
    for index,row in df.iterrows():
        total_words_in_document=row.sum()
        tf = dict()
        for index2 in row.index:
           # tf.append(row[index] / total_words_in_document)
            tf[index2] = row[index] / total_words_in_document
        tfs = tfs.append(tf , ignore_index=True)
    return tfs

def get_idf(df):
    idfs = list()
    total_documents = len(df.index)
    for index,col in df.iteritems():
        total_col_sum = col.sum()
        count = 0
        for row in col:
            if row != 0:
                count +=1
        idfs.append((np.log(total_documents/count))+1)
    return idfs
tfs_1 =  get_tf(df)
tfs_1

,02,041300,07,0815,10,101,10511,11,115397,12,...,yellow,yeltsin,yet,you,young,younger,your,z3,zeta,zeus
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.008929,0.008929,0.008929,0.008929,0.008929,0.008929,0.008929,0.008929,0.008929,0.008929,...,0.008929,0.008929,0.008929,0.008929,0.008929,0.008929,0.008929,0.008929,0.008929,0.008929
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
idf_1 = get_idf(df)

In [37]:
print("fff")
for cols in df.columns:

    IDF=np.log(len(df[cols])/sum(df[cols].apply(lambda x: 1 if x>0 else 0)))+1
        #TF(t) = (Number of times term t appears in a document) / (Total number of terms in the document).
        #But we already have TF as part of countVectorizer transform

        #TF-IDF=TF* IDF
    rep[cols]=list(map(lambda x : df[cols][x]*IDF, range(len(df[cols]))))